@model PokedexWebApp.Models.Pokemon

@{
    ViewData["Title"] = "Create";
}
<div class="background-overlay"></div>
<h5 id="CreateH5">Add Pokemon</h5>

<hr />
<div class="container" id="CreateContainer">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Pokemon No</label> <span asp-validation-for="PokemonNo" class="text-danger"></span>
                <input placeholder="#0000" asp-for="PokemonNo" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label"></label> <span asp-validation-for="Name" class="text-danger"></span>
                <input placeholder="Enter Pokemon Name..." asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Type</label> <span asp-validation-for="Type" class="text-danger"></span>
                <input placeholder="Enter Pokemon Type(s)..." asp-for="Type" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label> <span asp-validation-for="Description" class="text-danger"></span>
                <input placeholder="Enter Pokemon Description..." asp-for="Description" class="form-control" />
            </div>
            
            <div class="form-group">
                <input style="width: 100%; margin-top: 5px;" class="btn btn-dark" type="submit" value="CREATE" />
            </div>
            <div>
                <a style="width: 100%; margin-top: 5px;" class="btn btn-danger" asp-action="GetAllPokemon">CANCEL</a>
            </div>
        </form>
    </div>
</div>