@model PokedexWebApp.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<div class="background-overlay"></div>
<h5>Pokemon Details</h5>
<hr />
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <div class="d-flex justify-content-between p-0">
            <div style="font-weight:bold">
                @Html.DisplayFor(model => model.PokemonNo)
            </div>
            <div class="d-flex justify-content-end p-0">
                <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@Model?.Id"><span><i class="bi bi-pencil-square"></i></span></a>&nbsp
                <a class="btn btn-light btn-sm" asp-action="GetAllPokemon"><span><i class="bi bi-house"></i></span></a>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayFor(model => model.Name)</li>
        <li class="list-group-item">@Html.DisplayFor(model => model.Type)</li>
        <li class="list-group-item">@Html.DisplayFor(model => model.Description)</li>
    </ul>
</div>
