@model PokedexWebApp.ViewModels.LoginUserViewModel

<div class="background-overlay"></div>
<h5 class="text-center">LOGIN TO YOUR ACCOUNT</h5>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form asp-controller="Account" asp-action="Login" method="post">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input id="UserName" placeholder="Enter your username..." class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input id="Password" placeholder="Enter your password..." class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="RememberMe" asp-for="RememberMe" />
                    <label class="form-check-label" for="RememberMe">Remember me</label>
                </div>

                <button class="btn btn-primary btn-block" type="submit">LOGIN</button>
                <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Home">CANCEL</a>
                <p class="text-center mt-3">Don't have an account yet? Register <a asp-action="Register">here</a>!</p>
            </form>
        </div>
    </div>
</div>
